@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

.button {
    padding: 10px 30px;
    background-color: rgba(54, 42, 218, 0.856);
    margin-top: 20px;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    border: none;
    
}

.button:focus {
    outline: none;
}

.button--yellow {
    background: rgba(248, 214, 18, 0.877);
    color: black;
    right: calc(50% - 50px);
}

.lazy {
    background-color: gray;
    min-height: 150px;
    display: inline-block;
}